<h4>Hi <%= @user.first_name %>!</h4>

<p>
  The car you were looking for is now available!!
</p>
<p>
  Model - <%= @car.model %>,
  Manufacturer - <%= @car.manufacturer %>
  Style - <%= @car.style.humanize %>
</p>
<p>
  Visit our site to book!!
</p>

<p>Thanks!</p>
<p>CarRental Team</p>
