<h4>Hi <%= @user.first_name %>!</h4>

<p>
  This is regarding your reservation of car for rent. Your reservation time was from <%= @reservation.from %>
  to <%= @reservation.to %>. You have already exceeded the time to return the car.
  Please return the car as soon as possible so that we can serve our next customers.
</p>
<p>
  Ignore this message if you have already returned the car.
</p>

<p>Thanks!</p>
<p>CarRental Team</p>
