<%= form_for(@car) do |form| %>
  <% if @car.reserved? %>
        <div class="actions">
          <%= form.submit 'Check Out', class: 'btn-submit' %>
        </div>
  <% end %>
  <% if @car.checked_out? %>
        <div class="actions">
          <%= form.submit 'Return', class: 'btn-submit' %>
        </div>
  <% end %>
<% end %>
